:root {
  --color-primary: #4154f1;
  --color-secondary: #012970;
  --color-body: #444444;
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

/*Typography*/
.typo {
  line-height: 2.3rem;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
}

/*Buttons*/

.btn {
  padding: 1.2rem 2.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  outline: 0;
  border: 0;
  margin: 4rem;
  background: var(--color-primary);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 0 #4154f1;
}

.heading {
  color: var(--color-secondary);
}

.grid {
  display: grid;
  padding: 2.5rem;
  gap: 1rem;
}

.grid--1x2 {
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .grid {
    padding: 3rem;
  }
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Hero*/

.hero__image {
  width: 100%;
}

.hero__heading {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 2.5rem;
}

.hero__body {
  line-height: 3rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 3.3rem;
    margin: 0;
  }

  .hero__body {
    font-size: 2rem;
    padding-left: 3rem;
    line-height: 3rem;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .picture--hero {
    align-self: center;
  }
}

@media screen and (min-width: 1140px) {
  .hero__heading {
    font-size: 4rem;
  }
  .hero__body {
    line-height: 3.4rem;
  }
}

/*Logo*/
.logo__background {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.9px solid #fff;
  box-shadow: 0 0 2px 2px #000;
  opacity: 0.9;
  margin: 2rem; /*Temp*/
}

.logo__background:hover {
  background: #000;
  opacity: 1;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .logo__background {
    width: 4rem;
    height: 4rem;
  }

  .logo {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width: 1140px) {
  .logo__background {
    width: 4.5rem;
    height: 4.5rem;
  }
  .logo {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/*card*/

.card__main {
  /*Temp*/
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  width: 30rem;
  border-radius: 1rem;
  display: flex;
  border: 2px solid rgba(30, 144, 255, 0.3);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.card:hover {
  box-shadow: 1px 1px 5px 0.5px rgba(30, 144, 255, 0.4);
  transition: all 0.3s ease;
}

.card__logo {
  height: 20rem;
  width: 20rem;
  justify-self: normal;
}

.card__content {
  margin-top: 0;
}

/*Media Objects*/

.media_object {
  display: flex;
  margin: 2rem;
}

.media_img {
  width: 4rem;
}

.media_content {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media_heading,
.media_tag {
  margin: 0;
}

.media_tag {
  font-size: 13px;
  font-weight: 600;
}

/*Features*/

.features_grid {
  height: 100vh;
}

.features_heading {
  text-align: center;
}

.features_img {
  width: 100%;
}

.features_content .media_content {
  padding-left: 2rem;
  word-spacing: 2px;
  letter-spacing: 0.4px;
  line-height: 2rem;
}

.features_content .media_img {
  height: 4rem;
  margin-top: 1rem;
}

.features_content .media_heading {
  font-size: 2rem;
}

.features_content .media_tag {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/*Services*/

.services_box {
  box-shadow: 2px 2px 5px 1px rgb(209, 209, 209);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
  padding: 2.5rem;
}

.services_box:hover {
  box-shadow: 0 0 5px 1px rgb(209, 209, 209);
}

.services_heading {
  margin-bottom: 0;
}

/*Collapsibles*/

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;

  font-size: 2rem;
}

.collapsible__chevron {
  height: 2rem;
  margin-left: 1em;
  transform: rotate(0);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/*Blocks*/

.hero--block .grid {
  height: 100vh;
}

/*Background*/

.background {
  position: relative;
}

.background_pic {
  width: 100%;
  filter: brightness(0.5);
}

.logo__position {
  position: absolute;
  top: 0;
}

.background__content {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;
  color: #fff;
  font-size: 4.8rem;
}

/*Temp*/
.back_content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/hand-shake@3x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.head {
  display: flex;
  flex-direction: column;
}

.back_heading {
  font-size: 10rem;
  color: #fff;
  font-weight: 800;
  margin-bottom: 0;
}

.back_body {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0;
  align-self: flex-end;
}

/*Bullets*/

.bullet {
  width: 50vh;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 0 4px 2px rgba(211, 211, 211, 0.5);
}

.bullet-content {
  align-self: center;
  font-weight: 600;
  color: var(--color-secondary);
}

.bullet-content::before {
  content: "\2022";
  padding-right: 1rem;
}

/*AboutUs*/

.aboutus {
  display: flex;
  flex-direction: column;
}

.aboutus_heading {
  text-align: center;
  line-height: 3rem;
  color: var(--color-secondary);
}

.aboutus_content {
  align-self: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.aboutus_content .bullet {
  width: 90%;
  align-self: center;
}

.aboutus_que {
  align-self: center;
  text-align: center;
  font-weight: 600;
  line-height: 2.2rem;
  word-spacing: 2px;
}

.aboutus_endline {
  text-align: center;
  width: 70%;
  align-self: center;
  line-height: 2.5rem;
  word-spacing: 3px;
}

/*AboutusAns*/

.aboutus_img {
  display: flex;
  justify-content: center;
}

.loveimg {
  width: 100%;
  max-width: 300px;
}

.aboutus_ans {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.main .collapsible {
  margin-bottom: 3rem;
  width: 80%;
  border-bottom: 2px solid lightgray;
}

.main .collapsible .collapsible__content {
  padding-bottom: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

.main .collapsible .collapsible__heading {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .main .collapsible {
    width: 75%;
  }
}

@media screen and (min-width: 1140px) {
  .main .collapsible {
    width: 60%;
  }
}
