:root {
  --color-pirmary: #4154f1;
  --color-secondary: #012970;
  --color-body: #444444;
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

/*Typography*/
.typo {
  line-height: 2.3rem;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
}

/*Buttons*/

.btn {
  padding: 1.2rem 2.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  outline: 0;
  border: 0;
  margin: 4rem;
  background: var(--color-pirmary);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 0 #4154f1;
}

.hero__heading {
  color: var(--color-secondary);
}

.grid {
  display: grid;
  padding: 2.5rem;
  gap: 1rem;
}

.grid--1x2 {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  .grid {
    padding: 3rem;
  }
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Hero*/

.hero__image {
  width: 100%;
}

.hero__heading {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 3.3rem;
    margin: 0;
  }

  .hero__body {
    font-size: 1.8rem;
    padding-left: 3rem;
    line-height: 2.5rem;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

@media screen and (min-width: 1140px) {
  .hero__heading {
    font-size: 4rem;
  }
  .hero__body {
    line-height: 2.6rem;
  }
}

/*Background*/
.background {
  display: flex;
  position: relative;
  height: 55vh;
}

.lower--layer {
  clip-path: ellipse(77% 52% at 50% 26%);
  height: 100%;
  width: 100%;
}

.upper--layer {
  clip-path: ellipse(73% 52% at 50% 29%);
  height: 100%;
  width: 100%;
  position: absolute;
  background: black;
  opacity: 0.2;
}

@media screen and (min-width: 480px) {
  .background {
    height: 66vh;
  }
}

@media screen and (min-width: 768px) {
  .background {
    height: 100vh;
  }

  .lower--layer {
    clip-path: ellipse(77% 52% at 50% 36%);
  }

  .upper--layer {
    clip-path: ellipse(75% 52% at 50% 38%);
  }
}

/*Logo*/
.logo__background {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.9px solid #fff;
  box-shadow: 0 0 2px 2px #000;
  opacity: 0.8;
  margin: 2rem; /*Temp*/
}

.logo__background:hover {
  background: #000;
  opacity: 0.7;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
}

/*card*/

.card__main {
  /*Temp*/
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  width: 30rem;
  border-radius: 1rem;
  display: flex;
  border: 2px solid rgba(30, 144, 255, 0.3);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.card:hover {
  box-shadow: 1px 1px 5px 0.5px rgba(30, 144, 255, 0.4);
  transition: all 0.3s ease;
}

.card__logo {
  height: 20rem;
  width: 20rem;
  justify-self: normal;
}

.card__content {
  margin-top: 0;
}

/*Media Objects*/

.media_object {
  display: flex;
  margin: 2rem;
}

.media_img {
  width: 4rem;
}

.media_content {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media_heading,
.media_tag {
  margin: 0;
}

.media_tag {
  font-size: 13px;
  font-weight: 600;
}

/*Features*/

.features_grid {
  height: 100vh;
}

.features_heading {
  text-align: center;
}

.features_img {
  width: 100%;
}

.features_content .media_content {
  padding-left: 2rem;
  word-spacing: 2px;
  letter-spacing: 0.4px;
  line-height: 2rem;
}

.features_content .media_img {
  height: 4rem;
  margin-top: 1rem;
}

.features_content .media_heading {
  font-size: 2rem;
}

.features_content .media_tag {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/*Services*/

.services_box {
  box-shadow: 2px 2px 5px 1px rgb(209, 209, 209);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
  padding: 2.5rem;
}

.services_box:hover {
  box-shadow: 0 0 5px 1px rgb(209, 209, 209);
}

.services_heading {
  margin-bottom: 0;
}

/*Collapsibles*/

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 2rem;
}

.collapsible__chevron {
  height: 2rem;
  margin-left: 1em;
  transform: rotate(0);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
