<section class="hero--block">
  <div class="grid grid--1x2">
    <picture class="picture--hero">
      <source
        type="image/jpg"
        srcset="images/customer@1x.jpg 1x, images/customer@2x.jpg 2x"
      />
      <img class="hero__image" src="images/customer@3x.jpg" alt="" />
    </picture>
    <div class="hero__content">
      <h1 class="hero__heading">Telecalling Internship - EmaChat</h1>
      <p class="hero__body typo">
        The Telecalling Internship(Stipend : INR 15,000/month, Duration : 5
        Months) is only the beginning of your exciting and fulfilling life after
        college. Working at EmaChat will help you know one thing right away: you
        are surrounded by the top talent in the industry. We promote
        entrepreneurship and leadership. We strive to raise you and promote your
        inner ability so that you can discover the power and desire of your
        intellect and heart. Which can help you succeed in all aspects of your
        life, whether professional or personal. So get ready for your life's
        adventures.
      </p>
    </div>
  </div>
</section>
