<section class="features">
    <h2 class="features_heading">Lorem ipsum dolor sit amet.</h2>
    <div class="features_grid grid grid--1x2">
      <img class="features_img" src="images/feature_img.jpg" alt="">
      <div class="features_content">
        <div class="media_object">
          <img class="media_img" src="images/smiley.svg" alt="" />
          <div class="media_content">
            <h2 class="media_heading">Lorem, ipsum dolor.</h2>
            <p class="media_tag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam molestias hic quibusdam necessitatibus repellendus iusto numquam at, modi consequuntur!</p>
          </div>
        </div>
        <div class="media_object">
          <img class="media_img" src="images/smiley.svg" alt="" />
          <div class="media_content">
            <h2 class="media_heading">Lorem, ipsum dolor.</h2>
            <p class="media_tag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam molestias hic quibusdam necessitatibus repellendus iusto numquam at, modi consequuntur!</p>
          </div>
        </div>
        <div class="media_object">
          <img class="media_img" src="images/smiley.svg" alt="" />
          <div class="media_content">
            <h2 class="media_heading">Lorem, ipsum dolor.</h2>
            <p class="media_tag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quisquam molestias hic quibusdam necessitatibus repellendus iusto numquam at, modi consequuntur!</p>
          </div>
        </div>
      </div>
    </div>
  </seciton>